# Python bytecode
__pycache__/
*.py[cod]

# Virtual env
.env
.venv/
venv/
env/

# Output & OCR
outputs/
*.pdf
*.json

# Google credentials
gcloud_key.json

# Editor config (nếu dùng)
*.log
.ipynb_checkpoints
